{% extends 'mainapp/output/output.html' %}
<script>
    if(document.documentElement.clientWidth > 440) {

    }
</script>
{% block content %}
<div id="cart">
    <h3 class="text-center mt-5 mb-5">Ваша корзина {% if not cart.products.count %}пуста{% endif %}</h3>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% if cart.products.count %}
    <div class="cart_media">
      <div class="cart_media_product" style="display:flex; flex-wrap: wrap;">
          {% for item in cart.products.all %}
                <div class="cart_media_product_photo">
                    <a href="{{item.content_object.get_absolute_url}}">
                        <img src="{{ item.content_object.photo.url }}" class="img-fluid" style="max-width: 70%; height: auto; border-radius: 15px;">
                    </a>
                </div>

                    <div class="cart_media_product_title">
                        <a href="{{item.content_object.get_absolute_url}}" style="color: #232526c9; text-decoration: none;">
                            {{ item.content_object.title }}
                        </a>
                    </div>
                    <div class="cart_media_product_size">
                        <form action="{% url 'change_size' ct_model=item.content_object.ct_model product_slug=item.content_object.slug product_size=item.size%}" method="POST">
                              {% csrf_token %}
                              <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="size" onblur="submit();">
                                  {% if item.content_object.size.all %}
                                      {% for object_size in item.content_object.size.all %}
                                          {% if item.size == object_size.title %}
                                              <option selected value="{{ object_size }}" class="form-control">
                                                  {{ object_size }}
                                              </option>
                                          {% else %}
                                              <option value="{{ object_size }}" class="form-control">
                                                  {{ object_size }}
                                              </option>
                                          {% endif %}
                                      {% endfor %}
                                  {% endif %}
                              </select>
                        </form>
                    </div>
                    <div class="cart_media_product_qty">
                        <form action="{% url 'change_qty' ct_model=item.content_object.ct_model product_slug=item.content_object.slug product_size=item.size%}" method="POST">
                              {% csrf_token %}
                              <input id="input_correct" style="width: 35%; margin: auto; text-align: center;" type="number" class="form-control form-control-sm" name="qty", min="1" value="{{ item.qty }}" onblur="submit();">
                        </form>
                    </div>
                    <div class="cart_media_product_final_price">
                        <a>{{ item.final_price }} руб.</a>
                    </div>

          {% endfor %}
      </div>
    </div>
    <div>
         <div style="vertical-align: middle;"><strong>Итого: </strong></div>
         <div style="vertical-align: middle;"><strong>{{cart.total_products }} шт.</strong></div>
         <div style="vertical-align: middle;"><strong>{{cart.final_price }} руб.</strong></div>
         <div style="vertical-align: middle;">
             <a href="{% url 'making_an_order' %}">
                <button class="btn btn-success" style="margin-top: 0vh;"><strong>Оформить заказ</strong></button>
             </a>
         </div>
    </div>
    {% else %}
        <style>
            .container{
            position: absolute;
            bottom: 0;
            width: 100%;
            max-width: 100%;
            padding-left: 15%;
            padding-right: 15%;
            }
        </style>
    {% endif %}
</div>
{% endblock %}
