{% extends 'mainapp/output/output.html' %}

{% block content %}
    {% if product %}
        <div id="brand_info">
            <div id="product_image">
                <img src="{{product.photo.url}}">
            </div>
            <div id="product_info">
                <h1>{{ product.title }}</h1>
                <p>Описание: {{ product.description }}</p>
                <p>Slug: {{ product.slug }}</p>
                <p>Цена: {{ product.price }} руб.</p>
                <a href="{% url 'add-to-cart' product_slug=product.slug %}"><button class="btn btn-danger" style="width: 20%;">Добавить в корзину</button></a>
            </div>
        </div>
    {% endif %}
{% endblock %}