{% extends 'mainapp/output/output.html' %}

{% block content %}
    {% if product %}
        <div id="background_for_sidebar" style="background-color: #f2f2f2;">
            <div id="control">
                <div class="row" id="row_product_output">
                    <div class="col-md-6">
                        <div class="product">
                            <div class="image">
                                <img class="image_product" id="product_image" src="{{product.photo.url}}">
                            </div>
                            {% if product.photo_product1 %}
                            <div class="image">
                                <img class="image_product" id="product_image" src="{{product.photo_product1.url}}">
                            </div>
                            {% endif %}
                            {% if product.photo_product2 %}
                            <div class="image">
                                <img class="image_product" id="product_image" src="{{product.photo_product2.url}}">
                            </div>
                            {% endif %}
                            {% if product.photo_product3 %}
                            <div class="image">
                                <img class="image_product" id="product_image" src="{{product.photo_product3.url}}">
                            </div>
                            {% endif %}
                            {% if product.photo_product4 %}
                            <div class="image">
                                <img class="image_product" id="product_image" src="{{product.photo_product3.url}}">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="info" id="product_info_full">
                <h1>{{ product.title }}</h1>
                <p>Описание: {{ product.description }}</p>
                <p>Slug: {{ product.slug }}</p>
                {% if product.discount %}
                    <p>
                        <strong>
                            {{product.sale_price}} руб.
                        </strong>
                        <a style="text-decoration: line-through;">
                            {{product.price}} руб.
                        </a>
                    </p>
                {% else %}
                    <p>Цена: {{ product.price }} руб.</p>
                {% endif %}
                <div id="size_block">
                    {% if product.attributes.size %}
                        {% for size in product.attributes.size %}
                        <div class="col-md" id="col_md_for_product_output" style="text-align: center;">
                            <a id="size_all" style="vertical-align: super;">
                                <button id="button_for_product_output" onmouseover="changeItem()" onmouseout="rechangeItem()" onclick="location.href='{% url 'add-to-cart' ct_model=product.ct_model product_slug=product.slug %}';">
                                    {{ size }}
                                </button>
                            </a>
                        </div>
                        {% endfor %}
                    {% else %}
                    <div class="col-md" id="col_md_for_product_output" style="text-align: center;">
                        <a id="size_all" style="vertical-align: super;">
                            <button id="button_for_product_output" onmouseover="changeItem()" onmouseout="rechangeItem()" onclick="location.href='{% url 'add-to-cart' ct_model=product.ct_model product_slug=product.slug %}';">
                                One Size
                            </button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row" id="product_info_media">
                <div class="col-md-6">
                    <div class="info" id="product_info" style="text-align: center;">
                        <h1>{{ product.title }}</h1>
                        <p>Описание: {{ product.description }}</p>
                        <p>Slug: {{ product.slug }}</p>
                        {% if product.discount %}
                            <p>
                                <strong>
                                    {{product.sale_price}} руб.
                                </strong>
                                <a style="text-decoration: line-through;">
                                    {{product.price}} руб.
                                </a>
                            </p>
                        {% else %}
                    <p>Цена: {{ product.price }} руб.</p>
                {% endif %}
                        <div id="size_block">
                            {% if product.attributes.size %}
                                {% for size in product.attributes.size %}
                                    <div class="col-md" id="col_md_for_product_output" style="text-align: center;">
                                        <a id="size_all" style="vertical-align: super;">
                                            <button id="button_for_product_output" onmouseover="changeItem()" onmouseout="rechangeItem()" onclick="location.href='{% url 'add-to-cart' ct_model=product.ct_model product_slug=product.slug %}';">
                                                {{ size }}
                                            </button>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="col-md" id="col_md_for_product_output" style="text-align: center;">
                                    <a id="size_all" style="vertical-align: super;">
                                        <button id="button_for_product_output" onmouseover="changeItem()" onmouseout="rechangeItem()" onclick="location.href='{% url 'add-to-cart' ct_model=product.ct_model product_slug=product.slug %}';">
                                            One Size
                                        </button>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}